* {margin:0; padding: 0;box-sizing: border-box;}

body{
    background-color: rgb(27, 142, 209);
}

header{
    text-align: center;
    color: white;
    margin: 40px;
}

main{
    background-color: white;
    border-radius: 20px;
    height: auto;
    width: 600px;
    margin: auto;
    padding: 20px;
}

input{
    margin: 10px;
}

img{
    display: block;
    text-align: center;
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: auto;
}

footer{
    margin: 20px;
    color: white;
    text-align: center;
}